@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Soraya Porcel Llanos<br />
    
    <abbr title="Celular">Cel:</abbr>
    6760999
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sory22@gmail.com">sory22@gmail.com</a><br />
</address>